/*=============================
 TYPOGRAPHY
=============================*/

h1{
    font-family:'Kat Tail';
    font-size:60px;
    color:#DDBCB0;
}
h2{
    font-family:'Kat Tail';
    font-size:60px;
    color:#DDBCB0;
}
h3{
    margin-top:0;
    font-family: 'Raleway';
    font-size:36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight:400;
    color:#DDBCB0;
}
h4{}
h5{}
h6{}

p{
    font-family:'Libre Baskerville';
    font-size:18px;
    line-height:30px;
    color:#767662;
}

a{}
a:hover{}

hr{
    width:60%;
    height:2px;
    margin:60px auto;
    border:none;
    background-color:#BBB0A6;
}

ul{
    margin-top:0;
    margin-bottom:0;
}

.alignleft{
    text-align:left;
}
.aligncenter{
    text-align:center;
}
.alignright{
    text-align:right;
}

/*=============================
 UNIVERSAL
=============================*/

.container{
    width:100%;
    max-width:1180px;
    margin:0 auto;
}

.content{
    width:90%;
    margin:0 auto;
}

.content.narrow{
    max-width:960px;
}

/*** COMPONENTS ***/

    /* Social Buttons */
    .social-nav{
        list-style: none;
    }
    .social-nav li{
        display:inline-block;
        margin:0 3px;
    }
    .social-nav li a:hover{
        text-decoration:none;
    }
    .social-dark a{
        color:#BBB0A6;
    }
    .social-light a{
        color:#FFF;
    }

    /* Buttons */
    .btn{
        padding:2px;
        display:inline-block;
        font-family:'Raleway';
        font-size:16px;
        font-weight:500;
        letter-spacing: 3px;
        text-align:center;
        text-transform: uppercase;
    }
    .btn:hover{
        text-decoration: none;
    }
    .btn-block{
        display:block;
    }
    .btn span{
        width:100%;
        height:100%;
        padding:15px 40px;
        display:block;
        background-color:#fff;
    }
    .btn em{
        display:block;
        font-family: 'Kat Tail';
        font-style: normal;
        text-transform: none;
        font-size:72px;
    }
    .btn-xs span{
        padding:5px 20px;
    }
    .btn-xl span{
        padding:35px 40px 25px 40px;
    }
    .btn-gold{
        color: #DDBCB0;
        background: -moz-linear-gradient(left,  #cda349 0%, #e2c675 22%, #edd6a1 49%, #ebd39a 55%, #e2c675 72%, #cda349 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #cda349 0%,#e2c675 22%,#edd6a1 49%,#ebd39a 55%,#e2c675 72%,#cda349 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #cda349 0%,#e2c675 22%,#edd6a1 49%,#ebd39a 55%,#e2c675 72%,#cda349 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cda349', endColorstr='#cda349',GradientType=1 ); /* IE6-9 */
    }
    .btn-gold:focus, .btn-gold:hover{
        color: #DDBCB0;
    }

    /* Instagram Feed */
    .insta-feed{
        width:100%;
        margin-bottom:30px;
    }
    .insta-feed a{
        height:0;
        display:inline-block;
        padding-right:5px;
        padding-left:5px;
        position:relative;
    }
    .insta-feed.lg a{
        width:20%;
        padding-top:20%;
    }
    .insta-feed a img{
        width:95%;
        position:absolute;
        top:0;
        left:50%;
        transform:translateX(-50%);
    }

/*=============================
 NAVIGATION
=============================*/

header{
    width:100%;
}

.main-nav-wrapper{
    padding:60px 0;
    position:relative;
}

.main-nav-wrapper .social-nav{
    position:absolute;
    top:35px;
    left:0;
    z-index:1;
    font-size:18px;
}

#client-login{
    position:absolute;
    top:30px;
    right:0;
    z-index:1;
}

.main-nav-wrapper ul{
    padding:0;
}

ul.main-nav{
    width:100%;
    display:table;
    position:relative;
    list-style: none;
    font-family:'Raleway';
    font-size:15px;
    font-weight:600;
    text-align:center;
    text-transform: uppercase;
}

ul.main-nav li{
    display:inline-block;
}

ul.main-nav li a{
    color:#767662;
}

.nav-cell{
    display:table-cell;
    vertical-align: middle;
}

.nav-left, .nav-right{
    width:31.5%;
}

.nav-cell ul li{
    width:32.5%;
    text-align:center;
}

.nav-logo{
    width:35%;
    max-width:320px;
    margin:0 1%;
    padding:20px;
    border:2px solid #d6afa0;
}

.nav-logo img{
    width:100%;
}

@media (min-width: 768px){
    .btn-mobile-menu{
        display:none !important;
    }
}

/*=============================
 BANNERS
=============================*/

.banner img{
    width:100%;
}


/*=============================
 FOOTER
=============================*/

footer{
    width:100%;
    padding:60px 0;
    font-family: 'Raleway';
    text-align:center;
    background-image:url('img/bg-footer.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#DDBCB0;
}

footer .social-nav{
    font-size:24px;
}

.colophon{
    display:block;
    font-size:18px;
    font-weight: 300;
    text-transform: uppercase;
    color:#fff;
}
