/*=============================
 BANNERS
=============================*/

.banner{
    position:relative;
    img{
        width:100%;
    }
    .page-head{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
}
