/*=============================
 FOOTER
=============================*/

footer {
  width: 100%;
  padding: 60px 0;
  font-family: 'Raleway';
  text-align: center;
  background-image: url('img/bg-footer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #DDBCB0;
  .social-nav {
    font-size: 24px;
  }
  .btn-email{
      font-weight:300;
      font-size:16px;
      margin-top:30px;
      color:$white;
      text-transform: none;
      letter-spacing: normal;
  }
}

.colophon {
  display: block;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
