/*=============================
 NAVIGATION
=============================*/

header {
  width: 100%;
}

.main-nav-wrapper {
  padding: 60px 0;
  position: relative;
  .social-nav {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 1;
    font-size: 18px;
  }
}

#client-login {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;
  font-size:13px;
  font-weight:400;
}

.main-nav-wrapper ul {
  padding: 0;
}

ul.main-nav {
  width: 100%;
  display: table;
  position: relative;
  list-style: none;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  li {
    display: inline-block;
    a {
      color: #767662;
      text-decoration: none;
      transition: $fastEase;
      &:hover{
          color: $rose;
      }
    }
  }
}

.nav-cell {
  &.nav-left{
      left:0;
  }
  &.nav-right{
      right:0;
  }
  ul li{
      width: 32.5%;
      text-align: center;
      &:first-child{
          text-align:left;
      }
      &:last-child{
          text-align:right;
      }
  }
}

.nav-left, .nav-right {
  width: 30%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.nav-logo {
  width: 40%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid $rose;
  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .btn-mobile-menu {
    display: none !important;
  }
}
