/*=============================
 UNIVERSAL
=============================*/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  width: 90%;
  margin: 0 auto;
  &.narrow {
    max-width: 960px;
  }
  &.extra-narrow{
      max-width:768px;
  }
}

.wrapper{
    width:100%;
    height:100%;
    display:table;
    .wrapper-inner{
        display: table-cell;
        vertical-align: middle;
    }
}

/*=============================
 COMPONENENTS
=============================*/

/* Social Buttons */

.social-nav {
  list-style: none;
  li {
    display: inline-block;
    margin: 0 3px;
    a:hover {
      text-decoration: none;
    }
  }
}

.social-dark a {
  color: #BBB0A6;
}

.social-light a {
  color: #FFF;
}

.social-rose a{
    color:$rose;
}

/* Buttons */

.btn {
  padding: 2px;
  display: inline-block;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  border:none;
  &:hover {
    text-decoration: none;
  }
}

.btn-block {
  display: block;
}

.btn {
    transition:$fastEase;
  span {
    width: 100%;
    height: 100%;
    padding: 15px 40px;
    display: block;
    background-color: #fff;
  }
  em {
    display: block;
    font-family: 'Kat Tail';
    font-style: normal;
    text-transform: none;
    font-size: 72px;
  }
  &.btn-email{
    .icon{
        font-size:30px;
        float:left;
        margin:-6px 10px 0 0;
    }
  }
  &.aligncenter{
      margin:0 auto;
  }
}

.btn-xs span {
  padding: 5px 20px;
}

.btn-lg span{
    padding:15px 60px;
}

.btn-xl span {
  padding: 35px 40px 25px 40px;
}

.btn-gold {
  color: #DDBCB0;
  background: -moz-linear-gradient(left, #cda349 0%, #e2c675 22%, #edd6a1 49%, #ebd39a 55%, #e2c675 72%, #cda349 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #cda349 0%, #e2c675 22%, #edd6a1 49%, #ebd39a 55%, #e2c675 72%, #cda349 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #cda349 0%, #e2c675 22%, #edd6a1 49%, #ebd39a 55%, #e2c675 72%, #cda349 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cda349', endColorstr='#cda349',GradientType=1 );
  /* IE6-9 */
  &:focus, &:hover {
      color: $white;
      background:$rose;
      span{
          background-color:$rose;
      }
  }
}

/* Images */

.mobile-crop{
    width:100%;
    height:0;
    padding-top:100%;
    overflow:hidden;
    position:relative;
    &.circle{
        border-radius:50%;
    }
    img{
        position:absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
    }
}

.crop{
    width:100%;
    height:0;
    position:relative;
    overflow:hidden;
    &.square{
        padding-top:100%;
    }
    &.portrait{
        padding-top:130%;
    }
    img{
        min-width:100%;
        min-height:100%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
}

img{
    display:block;
    &.fw{
        width:100%;
    }
    &.fh{
        width:100%;
    }
    &.aligncenter{
        margin:0 auto;
    }
}

@media (min-width: 768px) {
    .mobile-crop{
        height:auto;
        padding:0;
        overflow: visible;
        img{
            position: static;
            transform:translate(0);
        }
    }
}

/* Lists */

.icon-list{
    margin-top:30px;
    list-style: none;
    font-family: 'Libre Baskerville';
    font-size: 18px;
    line-height: 30px;
    color:$bronze;
    li{
        margin-bottom:15px;
        .icon{
            margin-right:15px;
            float:left;
            &.sm{
                font-size:24px;
            }
            &.lg{
                font-size:36px;
            }
        }
    }
}

/* Forms */

.form-base{
    label{
        font-family:'Raleway';
        font-size:18px;
        text-transform:uppercase;
        color:$bronze;
        font-weight:300;
    }
    .form-control{
        border-radius:0 !important;
        border-color:$sand;
        font-family:'Libre Baskerville';
        color:$bronze;
        &:focus{
            outline: 0;
            box-shadow: 0 0 8px $rose-opaque;
        }
    }
}

/* Instagram Feed */

.insta-feed {
  width: 100%;
  margin-bottom: 30px;
  a {
    height: 0;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    .insta-meta{
        width: calc(100% - 10px);
        height: calc(100% - 13px);
        position: absolute;
        top: 0;
        z-index: 1;
        background-color:$sand-opaque;
        opacity:0;
        transition:all 0.2s ease-in-out;
        .icon{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            font-size:32px;
            color:$white;
        }
    }
    &:hover{
        .insta-meta{
            opacity:1;
        }
    }
  }
  &.col-5 a {
    width: 20%;
    padding-top: 20%;
  }
  &.col-2 a{
      width:50%;
      padding-top:50%;
  }
  a img {
    width: 95%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Logo Lists */

.logo-list{
    .wrapper-inner{
        padding:0 30px;
    }
}

/* Articles */

article{
    margin-bottom:60px;
    .featured-img{
        width:100%;
        height:0;
        padding-top:56.25%; // 16:9 Aspect Ratio
        overflow:hidden;
        position:relative;
        img{
            width:100%;
            min-height:100%;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
        }
    }
}
