/*=============================
 UNIVERSAL
=============================*/

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.content {
  width: 90%;
  margin: 0 auto;
  &.narrow {
    max-width: 960px;
  }
  &.extra-narrow{
      max-width:768px;
  }
}

.wrapper{
    width:100%;
    display:table;
    .wrapper-inner{
        display: table-cell;
        vertical-align: middle;
    }
}

/*=============================
 COMPONENENTS
=============================*/

/* Social Buttons */

.social-nav {
  list-style: none;
  li {
    display: inline-block;
    margin: 0 3px;
    a:hover {
      text-decoration: none;
    }
  }
}

.social-dark a {
  color: #BBB0A6;
}

.social-light a {
  color: #FFF;
}

/* Buttons */

.btn {
  padding: 2px;
  display: inline-block;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}

.btn-block {
  display: block;
}

.btn {
  span {
    width: 100%;
    height: 100%;
    padding: 15px 40px;
    display: block;
    background-color: #fff;
  }
  em {
    display: block;
    font-family: 'Kat Tail';
    font-style: normal;
    text-transform: none;
    font-size: 72px;
  }
  &.btn-email{
    .icon{
        font-size:30px;
        float:left;
        margin:-6px 10px 0 0;
    }
  }
}

.btn-xs span {
  padding: 5px 20px;
}

.btn-lg span{
    padding:15px 60px;
}

.btn-xl span {
  padding: 35px 40px 25px 40px;
}

.btn-gold {
  color: #DDBCB0;
  background: -moz-linear-gradient(left, #cda349 0%, #e2c675 22%, #edd6a1 49%, #ebd39a 55%, #e2c675 72%, #cda349 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #cda349 0%, #e2c675 22%, #edd6a1 49%, #ebd39a 55%, #e2c675 72%, #cda349 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #cda349 0%, #e2c675 22%, #edd6a1 49%, #ebd39a 55%, #e2c675 72%, #cda349 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cda349', endColorstr='#cda349',GradientType=1 );
  /* IE6-9 */
  &:focus, &:hover {
    color: #DDBCB0;
  }
}

/* Images */

.mobile-crop{
    width:100%;
    height:0;
    padding-top:100%;
    overflow:hidden;
    position:relative;
    &.circle{
        border-radius:50%;
    }
    img{
        position:absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
    }
}

.crop{
    position:relative;
    &.square{
        width:100%;
        height:0;
        padding-top:100%;
    }
    img{
        min-width:100%;
        min-height:100%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
}

img{
    &.fw{
        width:100%;
    }
    &.fh{
        width:100%;
    }
}

@media (min-width: 768px) {
    .mobile-crop{
        height:auto;
        padding:0;
        overflow: visible;
        img{
            position: static;
            transform:translate(0);
        }
    }
}

/* Instagram Feed */

.insta-feed {
  width: 100%;
  margin-bottom: 30px;
  a {
    height: 0;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
  }
  &.col-5 a {
    width: 20%;
    padding-top: 20%;
  }
  &.col-2 a{
      width:50%;
      padding-top:50%;
  }
  a img {
    width: 95%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Logo Lists */

.logo-list{
    .wrapper-inner{
        padding:0 30px;
    }
}

/* Articles */

article{
    margin-bottom:60px;
    .featured-img{
        width:100%;
        height:0;
        padding-top:56.25%; // 16:9 Aspect Ratio
        overflow:hidden;
        position:relative;
        img{
            width:100%;
            min-height:100%;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
        }
    }
}
